html, body {
    background: url("http://www.rainforest-alliance.org/sites/default/files/styles/1280w/theme/ra/images/about-us-header.jpg?itok=Ix67k_dG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    width: 100%;
    margin: 0px;
}

.main {
    margin: 5%;
}

.gameSection {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 2%;
    min-height: 80vh;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 1px 1px 25px white;
}

.gameSectionTitle {
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

h1 {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#currentGuess {
    display: none;
    min-height: 30vh;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    line-height: 30vh;
    vertical-align: middle;
}

#allGuesses {
    display: none;
    margin-top: 5%;
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    line-height: 10vh;
    vertical-align: middle;
}

#guessList {
    margin: 0px auto;
    padding: 0px;
    display: block;
}

#allGuesses li {
    display: inline-block;
    margin: 0% 1%;
    padding: 0%;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

#remainingGuesses {
    display: none;
    min-height: 30vh;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    line-height: 30vh;
    vertical-align: middle;
}