html, body {
    background: url("http://www.rainforest-alliance.org/sites/default/files/styles/1280w/theme/ra/images/about-us-header.jpg?itok=Ix67k_dG") no-repeat center center fixed;
    background-color: black;
    width: 100%;
    margin: 0px;
}

.main {
    margin: 5%;
}

.gameSection {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 2%;
    min-height: 80vh;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 1px 1px 25px white;
}

.gameSectionTitle {
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

h1 {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#guesses {
    display: none;
    min-height: 30vh;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
    font-size: 20vh;
    font-weight: bold;
    text-align: center;
    line-height: 30vh;
    vertical-align: middle;
}